.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

a {
  text-decoration: none;
}

.text {
  color: white;
}

.header {
  font-size: 30px;
  padding: 20px 0 20px 0;
  width: 100%;
  background-color: #23262c;
}

.title {
  margin: 8px 0 8px 0;
  vertical-align: middle;
  color: #7e72d6;
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px;
  max-width: 1200px;
}

.project {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 13px;
  flex-direction: column;
  width: 300px;
  height: 200px;
  padding: 20px;
  background-color: #25272c;
  
  box-shadow: 10px 10px 19px 0px rgba(26,26,26,0.96);
  -webkit-box-shadow: 10px 10px 19px 0px rgba(26,26,26,0.96);
  -moz-box-shadow: 10px 10px 19px 0px rgba(26,26,26,0.96);
  transition: all 100ms ease-in;
}

.project:hover {
  transform: translate(-10px, -10px);
  box-shadow: 16px 16px 19px 0px rgba(26,26,26,0.75);
  -webkit-box-shadow: 16px 16px 19px 0px rgba(26,26,26,0.75);
  -moz-box-shadow: 16px 16px 19px 0px rgba(26,26,26,0.75);
}

.project:active {
  box-shadow: 10px 10px 19px 0px rgba(26,26,26,0.96);
  -webkit-box-shadow: 10px 10px 19px 0px rgba(26,26,26,0.96);
  -moz-box-shadow: 10px 10px 19px 0px rgba(26,26,26,0.96);
  transform: translate(0px, 0px);
}

.project-header {
  color: #61dafb;
  font-size: 30px;
}

.project-header:hover {
  filter: brightness(150%);
  cursor: pointer;
}

.project-header:active {
  filter: brightness(80%);
}

.project-description {
  font-size: 18px;
  text-align: center;
}

/* utility */

.flip-y {
  transform: scaleY(-1);
}

.unselectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
